@import url(fontes.css);

body {
	background-color: #fff;
	color: #333;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.header-site {
	background-attachment: fixed;
	background-image: url(../img/bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 500px;
	padding-top: 300px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px 0 15px;
}

.text-center {
	text-align: center;
}

.lead {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 20px;
}

h1 {
	font-family: 'PermanentMarker-Regular', sans-serif;
	font-size: 5em;
}

.header-site h1 {
	color: tomato;
	text-shadow: 5px 5px 10px #000;
}

h3 {
	font-family: 'LexendExa-VariableFont_wght', sans-serif;
	font-size: 2em;
}

h1,
h3 {
	padding-bottom: 10px;
	padding-top: 20px;
}

.btn {
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3em;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 0px;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.btn-vermelho {
	background-color: tomato;
	border-color: #d43f3a;
	color: #fff;
}

.btn-vermelho:hover {
	background-color: #c9302c;
	border-color: #fff;
}

a {
	text-decoration: none;
}

.conteudo-site {
	padding-bottom: 640px;
	padding-top: 120px;
}

.conteudo-site .container,
.img-site .container {
	margin: auto;
	width: 1200px;
}

.box {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 17px 5px -14px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	float: left;
	margin: 20px;
	padding: 20px;
	transition: all ease-in 300ms;
	width: 317px;
}

.box:hover {
	background-color: tomato;
	transform: scale(1.2, 1.2);
}

.thumbnail {
	overflow: hidden;
}

.thumbnail img {
	display: block;
	max-width: 100%;
}

.img-site {
	background-attachment: fixed;
	background-image: url(../img/bg2.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 300px;
	padding-top: 200px;
}

.media {
	background-color: rgb(158 59 86 / 46%);
	border: 1px solid #a54262;
	border-bottom: 50px;
	border-radius: 25px;
	box-shadow: 0px 17px 5px -9px rgba(0, 0, 0, 0.75);
	height: 275px;
	margin: auto;
	width: 90%;
}

.media .box {
	background-color: #000;
	box-shadow: 0px 17px 5px -9px rgba(0, 0, 0, 0.75);
	float: left;
	height: 200px;
	margin: 12px;
	transition: all ease-in 500ms;
	width: 470px;
}

.media .box:hover {
	background-color: #333;
	transform: none;
}

.ladoA {
	border-radius: 14px 0 0 14px;
	border-right: 1px solid yellow;
}

.ladoB {
	border-left: 1px solid yellow;
	border-radius: 0px 14px 14px 0px;
}

.box audio {
	display: block;
	margin: auto;
	margin-top: 90px;
}

.box video {
	height: 220px;
	margin-top: 0px;
	width: 100%;
}

.footer-site {
	background-color: #333;
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}

@media only screen and (min-width: 375px) and (max-width: 411px) {
	body {
		font-size: 11px;
	}

	h1 {
		font-size: 2.5em;
	}

	.conteudo-site .container,
	.img-site .container {
		padding: 0;
		width: 100%;
	}

	.header-site .lead,
	.img-site .lead {
		background-color: #00000085;
		border-radius: 8px;
		padding: 8px;
	}

	/* Primeiro */
	.header-site {
		align-items: center;
		background: url(../img/bg.jpg) no-repeat center center fixed;
		background-size: cover;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		padding: 0;
	}

	.header-site a {
		font-size: 16px;
		padding: 12px 24px;
	}

	/* Final do Primeiro */

	/* Segundo */
	.conteudo-site {
		padding: 8px;
	}

	.conteudo-site .box {
		float: none;
		margin: 24px auto;
		padding: 8px;
	}

	.box:hover {
		transform: scale(1.1, 1.1);
	}

	/* Final do Segundo */

	/* Terceiro */
	.img-site {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		padding: 8px;
	}

	.media {
		background-color: unset;
		border: none;
		border-bottom: 0;
		border-radius: 0;
		box-shadow: none;
		height: 100%;
		margin: unset;
		width: unset;
	}

	.media .box {
		border: none;
		box-shadow: none;
		float: none;
		height: unset;
		margin: 0;
		margin-bottom: 8px;
		transition: unset;
		width: unset;
	}

	.ladoA,
	.ladoB {
		border-radius: 14px;
	}

	/* Final do Terceiro */
}
